* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12pt;
	background: #fff;
	font-family: Georgia, Time New Roman, serif;
}

/* @group common elements */

  h1, h2, h3, h4 {
	padding: 1.5em 0 0 0;
	color: #000;
	font-family: Century Gothic, Franklin Gothic Medium, Lucida Sans Unicode, Lucida Grande ,Tahoma Bold, verdana, arial, sans-serif;
	line-height: 1.5em;
}
 h2 {
	font-size:2em;
	letter-spacing: 2px;
}
h3 {
	font-size:1.4em;
	letter-spacing: 1px;
}
	
a:link {
	text-decoration: underline;
	color: #000;
}



ul, ol {
	list-style-position: inside;
	padding: 1em 0;
}

img{
	display: block;
	border: none;
}
/* @end */





#containerPage {
	margin: 0 auto; 
	width: 960px;
	font-size: 1.1em;
	border: none;

}

#banner{
	width: 960px;
	float: none; 
	height: 150px !important;
	background: none;
	overflow: hidden;
	position: relative;
}
#banner h1#siteTitle, #banner h1#siteTitle a {
	margin: 0.2em 0 0 0;
	font-size: 48pt;
	letter-spacing: 1pt;
	color: #000;
	padding:0;
	top:0;
	left:0;
}
#mainNav {
	display:  none;
	
	}

#containerColumns {
	background: #fff;
	width: 960px;
	padding-bottom: 1em;
}

#columnMain {
	float: none;
	width:100%;
}

h2#pageTitle {
	color: #000;
	padding-bottom: 1em;
}
#content {
	letter-spacing: 1px;
	line-height: 2em;
	font-size: 1.2em;
	padding: 1em 10em 1em 1em;
}

#columnSide	 {
display: none;
	}



#footer {
	clear: both;
	width: 960px;
	float: none;
	height: 1em;
	background:#fff;
	padding: 1em 0 0 0;

}


.floatRight {
	clear: both;
	float: right;
	padding: 0 0 0 1.2em;
}
.floatLeft {
	clear: both;
	float: left;
	padding: 0 1.2em 0 0;
}
.caption {
	font-size: 1.1em; font-weight: bold;
}
tr.odd, tr.even {
	background: none;
}
table {
	width: 400px !important;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

