* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 62.5%;
	background: #70371C url(../images/bg.png) repeat;
	font-family: Georgia, Time New Roman, serif;
}

/* @group common elements */

  h1, h2, h3, h4 {
	padding: 1.5em 0 0 0;
	color: #5D2D16;
	font-family: Century Gothic, Franklin Gothic Medium, Lucida Sans Unicode, Lucida Grande ,Tahoma Bold, verdana, arial, sans-serif;
	line-height: 1.5em;
}
 h2 {
	font-size:2em;
	letter-spacing: 2px;
}
h3 {
	font-size:1.4em;
	letter-spacing: 1px;
}
	
a:link {
	text-decoration: none;
	color: #5D2D16;
}
a:visited {
	color: #5D2D16;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

a:active, a.active {
	color: #5D2D16;
	text-decoration: none;
}

ul, ol {
	list-style-position: inside;
	padding: 1em 0;
}

img{
	display: block;
	border: none;
}
/* @end */





#containerPage {
	margin: 0 auto; 
	width: 960px;
	font-size: 1.1em;
	border: 2px solid #34190D;
	border-top: none;

}

#banner{
	width: 960px;
	float: left; 
	height: 303px;
	background: url(../images/bgBanner.jpg) left top no-repeat;
	overflow: visible;
	position: relative;
}
#banner h1#siteTitle {
	margin: 1em 0 0 1em;
	font-size: 4em;
	letter-spacing: 4px;
	color: #241108;
	position: absolute;
	top: -60px;
	left: 450px;
}
#mainNav {
	position: absolute;
	left: 0;
	top: 270px;
	width: 960px;
	height: 33px;
	background:#5D2D16;
	opacity: 0.7;
	filter: alpha(opacity = 70)
	-moz-opacity:0.7;
	
	}
#mainNav ul li {
	display: inline;
	padding: 0;
}
#mainNav ul li a {
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
	padding: 0.8em 1em 0.5em 2em;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 4px;
	font-family: Century Gothic,  Franklin Gothic Medium, Tahoma, Lucida Sans Unicode, Lucida Grande ,verdana, arial, sans-serif;

	
}
#mainNav ul li a:hover {
	color: #E1C675;
}

#mainNav ul li a.active {
	color: #E1C675;
}
#containerColumns {
	background: #E1C675 url(../images/bgContainerColumns.jpg) left top no-repeat;
	width: 960px;
	float: left;
	min-height: 40em;
	padding-bottom: 1em;
}

#columnMain {
	float: right;
	width:690px;
	margin: 0;
	position: relative;
}

h2#pageTitle {
	color: #7E3B1D;
	padding-bottom: 1em;
}
#content {
	letter-spacing: 1px;
	line-height: 2em;
	font-size: 1.2em;
	padding: 1em 10em 1em 1em;
}

#columnSide	 {
	float: left;
	width: 230px;
	overflow: hidden;
	padding: 2em 0 0 20px;
	font-size: 1.1em;
	}

#columnSide ul {
	padding: 0;
	list-style-type: none;
}
#columnSide ul li {
 display: block;
 padding: 0.5em 0;
 margin: 0;
 list-style-image: none;
}

ul#menu li a {
	 display: inline;
	 padding: 0 2em 0 0;
	 font-weight: bold;
	 letter-spacing: 2px;
}


#footer {
	clear: both;
	width: 960px;
	float: left;
	height: 1em;
	background:#CFB76D;
	padding: 1em 0 0 0;
	font-size: 1.2em;
}


.floatRight {
	clear: both;
	float: right;
	padding: 0 0 0 1.2em;
}
.floatLeft {
	clear: both;
	float: left;
	padding: 0 1.2em 0 0;
}
.caption {
	font-size: 1.1em; font-weight: bold;
}
tr.odd, tr.even {
	background: none;
}
table {
	width: 400px !important;
}
input, textarea, .grippie {
	background:transparent ;
	border: 1px solid #34190D;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

code {
	display: block;
	margin: 2em 0;
}